<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">

    <!-- Define environment variables for the test database -->
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="your_pg_user"/>
        <env name="DB_PASS" value="your_pg_password"/>
        <env name="DB_NAME" value="open_encrypt_test"/>
        <env name="DB_PORT" value="5432"/>
    </php>

    <testsuites>
        <testsuite name="OpenEncryptTests">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>